* { 
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}



body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    
   
}


.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;

    
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    
}

.header-links  {
    align-self: center;

}


.header-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex; 
    align-items: center;

}

.hero-texts { 
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.hero-maintext {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}



.information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;    
}


.information a {
    font-size: 12px;
    text-decoration: none;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information img{
    padding: 0px;
    border-radius: 10px;
    border: 4px solid lightblue;
}

.quote-section { 
    background-color: #e5e7eb;

}

.quote-section-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    Width: 70%;
    margin: auto;
    
}

.call-to-action {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 5px;
    
}

.call-to-action-heading { 
    font-weight: bold;

}

.call-to-action-text {
    display: flex;
    justify-content: space-between;

}

.call-to-action button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid white;
    border-radius: 5px;
}

